# ============================================
# VARIABLES
# ============================================

# ============================================
# DEPENDENCIES
# ============================================
venv/
__pycache__/